html,
body {
    height: 100%;
    font-family: 'Readex Pro', sans-serif;
}
body {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(90deg, #302c27, #17140f);
    position: relative;
}
/*Top Begin*/
.top-my {
    width: 100%;
    height: 105px;
    display: flex;
    position: absolute;
}

/* Logo*/
.top-logo {
    margin-left: 30px;
}
.top-logo img {
    width: 180px;
    height: 130px;
}

/*Nav*/
.top-navh {
    margin-top: 30px;
    margin-left: 30px;
}
.navh-link {
    display: flex;
}
.navh-item {
    list-style: none;
    padding: 10px 20px;
    text-align: center;
    padding-bottom: -20px;
    border-radius: 8px;
    width: 130px;
    height: 50px;
    margin-left: 3px;
}
.navh-item a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}
.navh-item:hover{
    background-color: #f5e8c2;
    border-bottom: #aa680a solid 4px;
}
.navh-item:hover > a{
    background-color: #f5e8c2;
    color: black;
    font-weight: bold;
}
.navh-item i {
    color: white;
    font-size: 18px;
}
.navh-item:hover i {
    color: black;
}
.activeh {
    background-color: #f5e8c2;
    border-bottom: #aa680a solid 4px;
    font-weight: bold;
}
.activeh a {
    color: black;
}

/*!*More*!*/
.more-list {
    background-color: #f5e8c2;
    text-align: left;
    width: 200px;
    height: 165px;
    display: none;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0 0 10px #888888;
    position: absolute;
    right: 246px;
    top: 80px;
}
.more-list-item {
    list-style: none;
    line-height: 3;
    margin-left: -20px;
    width: 200px;
    position: relative;
    left: -12px;
}
.more-list-item  a{
    color: black;
    font-weight: 500;
    text-decoration: none;
    text-transform: none;
    margin-left: 20px;
}
.more-list-item a:hover {
    color: black;
}
.active-bottom {
    border-bottom: #aaaaaa solid 1px;
}
.more-list-item:hover {
    background-color: #d9d7d5;
    border-radius: 10px;
}
.navh-link > .more:hover > .more-list {
    display: block;
}

/*User*/
.top-user {
    display: flex;
    position: relative;
    right: -100px;
    top: 20px;
}
.top-user img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: #b09032 solid 5px;
}
.top-user p {
    color: white;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 18px;
}
.user-list {
    background-color: white;
    width: 180px;
    height: 276px;
    position: absolute;
    top: 77px;
    left: 13px;
    z-index: 3;
    display: none;
    box-shadow: 0 0 10px #888888;
}
.user-list ul {
    position: absolute;
    left: -32px;
}
.user-list-item {
    list-style: none;
    border-bottom: #aaaaaa solid 1px;
    font-size: 18px;
    line-height: 3;
    width: 180px;
}
.user-list-item a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
.user-list-item i {
    padding-left: 20px;
}
.triangle {
    font-size: 60px;
    color: white;
    position: relative;
    top: 20px;
    left: -140px;
    z-index: 2;
    display: none;
}
.top-user:hover .triangle {
    display: block;
}
.top-user:hover .user-list {
    display: block;
}
.user-list .user-list-item:hover {
    background-color: #d9d7d5;
}
/*Top End*/


/*Welcome Begin*/
.welcome {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(28,26,24,0.7), rgba(28,26,24,0.7))
                     ,url("https://znews-photo.zadn.vn/w660/Uploaded/tmuitg/2016_10_13/12.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.welcome-text-small {
    font-size: 25px;
    color: white;
    margin-top: 30px;
}
.welcome-title {
    font-size: 70px;
    color: white;
    margin-top: 30px;
}
.welcome-comment {
    font-size: 20px;
    font-weight: 100;
    color: #C2BFBFFF;
    margin-top: 30px;
}
.button-show {
    background-color: #dfae67;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 20px;
    border: whitesmoke solid 2px;
    border-radius: 10px;
    margin-top: 40px;
}
.button-show a {
    text-decoration: none;
    color: black;
}
.button-show i {
    padding-left: 10px;
}
.button-show:hover {
    background-color: #eccda2;
}
.button-show a:hover {
    color: black;
}
/*Welcome End*/


/*Logo Cooperate Begin*/
.logo-cooperate {
    width: 100%;
    height: 140px;
    background-color: #1d1710;
}
.logo-cooperate div {
    display: flex;
    justify-content: space-around;
}
.logo-cooperate-item {
    margin-top: 30px;
    font-size: 80px;
    color: #aaaaaa;
}
/*Logo Cooperate End*/


/*Specialities Begin*/
#specialities {
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.spe-title h2 {
    font-size: 50px;
    color: white;
    font-weight: bold;
    letter-spacing: 4px;
}
.i-title {
    font-family: 'Caveat', cursive;
    color: #dfae67;
    font-size: 25px;
}
.spe-card {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    cursor: pointer;
}
.spe-card-item {
    width: 300px;
    height: 330px;
}
.spe-card-item .spe-icon {
    width: 70px;
    height: 70px;
    background-color: #37332d;
    border-radius: 50px;
    margin: 50px auto auto auto;
}
.spe-icon img {
    margin-top: 10px;
    width: 45px;
    height: 45px;
}
.spe-card-item h3 {
    color: white;
    font-size: 22px;
    margin-top: 20px;
}
.spe-card-item p {
    color: #aaaaaa;
    margin: 25px 40px;
    line-height: 1.8;
}
.spe-card-item:hover {
    background-image: linear-gradient(0deg, #f7d347, #f9e9aa);
    border-radius: 5px;
}
.spe-card-item:hover p ,.spe-card-item:hover h3{
    color: black;
}
.spe-card-item:hover .spe-icon {
    background-color: #f3e4ce;
}
/*Specialities End*/

/*Video Begin*/
.video {
    width: 100%;
    height: 750px;
    position: relative;
    background-image: linear-gradient(0deg,rgba(28,26,24,0.8), rgba(28,26,24,0.8) )
    ,url("../img/vegetable.jpg");
    background-size: cover;
}
.video-box {
    padding-top: 94px;
    margin-left: 350px;
}
.video-box video {
    width: 1000px;
    height: auto;
    border: white solid 5px;
}
.video-title-box {
    position: absolute;
    width: 400px;
    height: 280px;
    background-color: #2c3034;
    top: 450px;
    left: 150px;
    border-radius: 5px;
    border: white 1px solid;
}
.video-title-box h2 ,.video-title-box p {
    text-align: center;
}
.video-title-box .p-yelow {
    margin-top: 40px;
}
.video-title-box h2 {
    color: white;
}
.video-title-box p {
    color: #aaaaaa;
    margin: 0 30px;
}

/*Video End*/

/* Booking Begin  */
.booking{
    align-items: center;
    display: flex;
    background-color: #2e2a25;
    height: 580px;
    text-align: center;
    border-bottom: #aaaaaa 1px solid;
}

.column-book-left{
    float: right;
    width: 550px;
    height: 450px;
    border: 5px double rgb(255, 255, 255);
}

.column-book-left img {
    width :100%;
}

.enter{
    margin: 30px 20px 0px 0px;
}

input{
    margin-left: 30px;
}

.button{
    margin-top: 33px;
    background-color: blanchedalmond;
    width: 200px;
    text-align: center;
    font-size: 24px;
}

.column-book-right{
    align-items: center;
    margin:  90px 20px 90px 0px;
    color: floralwhite;
}

.a{
    width: 50%;
}
/* Booking End  */

/* Footer begin  */
html, footer{
    background-color: #2e2a25
}

.footer{
    display: block;
    margin: 10px 50px 10px 50px;
    
}

.footer h2{
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0;
}

.column{
    float: left;
    width: 33.3%;
}

.connect a{
    margin: 0px 20px 0px 0px;
}

h2{
    color: #f5d2a8
}

p{
    color: white;
}

a{
    color: rgb(86, 141, 235);
}
/* Footer end  */